.menu {
  padding-inline: var(--padding-inline-mobile);
  padding-block: var(--padding-block-mobile);

  .menu__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
